* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav.desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

nav.desktop.active {
  background-color: white;
  -webkit-box-shadow: 0 1px  10px black;
          box-shadow: 0 1px  10px black;
}

nav.desktop ul {
  list-style: none;
}

nav.desktop ul li {
  float: right;
  padding: 10px;
  margin: 5px 25px;
  width: 15vw;
  position: relative;
  overflow: hidden;
}

nav.desktop ul li::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: red;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

nav.desktop ul li:hover::after {
  bottom: 10%;
  left: 0;
}

nav.desktop ul li a {
  text-align: center;
  display: block;
  font-size: 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav.mobile {
  display: none;
}

i.fas {
  display: none;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  position: relative;
}

.background h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 4em;
}

.background p {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 2.6em;
}

@media (max-width: 1280px) {
  nav.desktop ul li a {
    font-size: 0.9em;
  }
  .background h1 {
    font-size: 3em;
  }
  .background p {
    font-size: 1.8em;
  }
}

@media (max-width: 1000px) {
  nav.desktop ul li {
    width: 20vw;
  }
  nav.desktop ul li a {
    font-size: 0.8em;
  }
  .background h1 {
    font-size: 2.2em;
  }
  .background p {
    top: 55%;
    font-size: 1.4em;
  }
}

@media (max-width: 960px) {
  nav.desktop {
    display: none;
  }
  .hamburger {
    width: 100vh;
  }
  i.fas {
    position: fixed;
    top: 3%;
    right: 5%;
    display: none;
    color: black;
  }
  i.show {
    display: block;
    font-size: 2.8em;
  }
  nav.mobile {
    display: block;
    position: fixed;
    background-color: rgba(238, 238, 238, 0.8);
    -webkit-box-shadow: 0 1px 2px black;
            box-shadow: 0 1px 2px black;
    right: 0;
    top: -100%;
    height: 30vh;
    width: 100%;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  nav.mobile ul {
    margin-top: 1vh;
    list-style: none;
  }
  nav.mobile ul li {
    padding: 10px;
  }
  nav.mobile ul li a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    height: 5vh;
    font-size: 2em;
    text-transform: uppercase;
    color: black;
  }
  nav.mobile.show {
    top: 0;
  }
}

@media (max-width: 640px) {
  .background h1 {
    font-size: 0.8em;
  }
  .background p {
    top: 55%;
    font-size: 0.65em;
  }
  i.fas {
    top: 5%;
    right: 10%;
  }
}

@media (max-width: 500px) {
  nav.mobile ul {
    margin-top: .5vh;
  }
  nav.mobile ul li a {
    height: 4vh;
    font-size: 1.2em;
  }
  i.show {
    display: block;
    font-size: 2.2em;
  }
}

@media (max-width: 385px) {
  nav.mobile ul li a {
    height: 4vh;
    font-size: 0.8em;
  }
  i.show {
    display: block;
    font-size: 1.5em;
  }
}

.aboutme {
  opacity: 0;
  margin: 4vh auto 7vh;
  padding: 50px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.aboutme.active {
  opacity: 1;
}

.aboutme h1 {
  font-size: 5em;
}

.aboutme p {
  margin-top: 2.8vh;
  font-size: 2.5em;
  line-height: 50px;
}

@media (max-width: 1280px) {
  .aboutme h1 {
    font-size: 5em;
  }
  .aboutme p {
    font-size: 2.4em;
  }
}

@media (max-width: 1020px) {
  .aboutme h1 {
    font-size: 4.2em;
  }
  .aboutme p {
    font-size: 2.1em;
  }
}

@media (max-width: 800px) {
  .aboutme {
    opacity: 1;
  }
  .aboutme h1 {
    font-size: 4em;
  }
  .aboutme p {
    font-size: 2em;
  }
}

@media (max-width: 641px) {
  .aboutme h1 {
    font-size: 3.4em;
  }
  .aboutme p {
    font-size: 1.8em;
  }
}

@media (max-width: 420px) {
  .aboutme h1 {
    font-size: 3em;
  }
  .aboutme p {
    font-size: 1.4em;
  }
}

@media (max-width: 385px) {
  .aboutme h1 {
    font-size: 2.9em;
  }
  .aboutme p {
    font-size: 1.3em;
  }
}

@media (max-width: 361px) {
  .aboutme h1 {
    font-size: 2.8em;
  }
  .aboutme p {
    font-size: 1.2em;
  }
}

@media (max-width: 321px) {
  .aboutme h1 {
    font-size: 2.6em;
  }
  .aboutme p {
    font-size: 0.8em;
  }
}

.skills {
  opacity: 0;
  background-color: #eee;
  margin: 7vh auto 7vh;
  padding: 50px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.skills .skill {
  padding: 3vh;
  width: 25%;
  float: left;
}

.skills .skill img {
  height: 35vh;
}

.skills .skill h2 {
  padding: 1vh;
  text-align: center;
  font-size: 2.8em;
}

.skills h1 {
  font-size: 5em;
}

.skills.active {
  opacity: 1;
}

@media (max-width: 1500px) {
  .skills .skill {
    width: 50%;
  }
  .skills .skill img {
    height: 30vh;
  }
  .skills .skill h2 {
    font-size: 2.4em;
  }
  .skills h1 {
    font-size: 3em;
  }
}

@media (max-width: 1280px) {
  .skills .skill {
    width: 50%;
  }
  .skills .skill img {
    height: 25vh;
  }
  .skills .skill h2 {
    font-size: 1.8em;
  }
  .skills h1 {
    font-size: 4.5em;
  }
}

@media (max-width: 1041px) {
  .skills {
    opacity: 1;
  }
  .skills .skill {
    width: 50%;
  }
  .skills .skill img {
    height: 22vh;
  }
  .skills .skill h2 {
    font-size: 1.5em;
  }
  .skills h1 {
    font-size: 4em;
  }
}

@media (max-width: 420px) {
  .skills .skill {
    width: 100%;
  }
  .skills .skill img {
    height: 20vh;
  }
  .skills .skill h2 {
    font-size: 1.5em;
  }
  .skills h1 {
    font-size: 1.5em;
  }
}

.portfolios {
  opacity: 0;
  margin: 4vh auto 4vh;
  padding: 3vh;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.portfolios.active {
  opacity: 1;
}

.portfolios h1 {
  display: block;
  font-size: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolios #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolios #container .portfolio {
  padding: 2vh;
  margin: 1vh;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  background-color: #eee;
}

.portfolios #container .portfolio img {
  width: 100%;
  background-color: white;
  padding: 0;
}

.portfolios #container .portfolio .text a {
  display: block;
  margin: 2vh 0;
  text-decoration: none;
  text-align: right;
  font-size: 2.4em;
  border-bottom: 3px solid red;
  color: black;
}

.portfolios #container .portfolio .text p {
  margin-top: 3vh;
  font-size: 1.5em;
  text-align: left;
  line-height: 50px;
}

@media (max-width: 1025px) {
  .portfolios h1 {
    font-size: 4.5em;
  }
  .portfolios #container .portfolio {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .portfolios #container .portfolio .text a {
    font-size: 1.6em;
  }
  .portfolios #container .portfolio .text p {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .portfolios {
    opacity: 1;
  }
  .portfolios h1 {
    font-size: 4.2em;
  }
  .portfolios #container .portfolio {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .portfolios #container .portfolio .text a {
    font-size: 2em;
  }
  .portfolios #container .portfolio .text p {
    font-size: 1.7em;
  }
}

@media (max-width: 420px) {
  .portfolios h1 {
    font-size: 3.6em;
  }
  .portfolios #container .portfolio {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .portfolios #container .portfolio .text a {
    font-size: 1.8em;
  }
  .portfolios #container .portfolio .text p {
    font-size: 1.4em;
  }
}

@media (max-width: 385px) {
  .portfolios h1 {
    font-size: 2.4em;
  }
  .portfolios #container .portfolio {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .portfolios #container .portfolio .text a {
    font-size: 1.6em;
  }
  .portfolios #container .portfolio .text p {
    font-size: 1.2em;
  }
}

.contact {
  opacity: 0;
  background-color: #eee;
  margin: 4vh auto 0;
  padding: 50px;
  text-transform: uppercase;
  text-align: center;
  min-height: 10vh;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.contact h1 {
  font-size: 5em;
}

.contact .form {
  margin-top: 2vh;
  width: 50%;
  float: left;
}

.contact .form input {
  display: block;
  padding: 1vh;
  margin: 10px auto 3vh;
  line-height: 35px;
  height: 6vh;
  font-size: 2em;
  width: 80%;
  margin-bottom: 1vh;
}

.contact .form textarea {
  display: block;
  padding: 1vh;
  margin: 0 auto;
  line-height: 35px;
  height: 25vh;
  font-size: 2.3em;
  width: 80%;
  margin-bottom: 1vh;
  background-color: white;
}

.contact .form button {
  display: block;
  margin: 0 auto;
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 2em;
  width: 50%;
  margin-bottom: 1vh;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  text-transform: uppercase;
}

.contact .form button:hover {
  color: white;
  background-color: black;
}

.contact.active {
  opacity: 1;
}

.contacts {
  width: 50%;
}

.contacts .socials {
  margin: 10px;
  padding: 3vh;
}

.contacts .socials img {
  float: left;
}

.contacts .socials p {
  line-height: 72px;
  padding-left: 5vh;
  font-size: 1.8em;
  float: left;
}

@media (max-width: 1500px) {
  .contact h1 {
    font-size: 4.5em;
  }
}

.contacts .socials img {
  height: 50px;
}

.contacts .socials p {
  font-size: 1.1em;
  line-height: 50px;
}

@media (max-width: 1025px) {
  h1 {
    font-size: 4em;
  }
  .form {
    width: 80%;
  }
}

.contacts .socials img {
  height: 45px;
}

.contacts .socials p {
  font-size: 0.9em;
  line-height: 45px;
}

@media (max-width: 813px) {
  .contact {
    opacity: 1;
  }
  .contact h1 {
    font-size: 3.5em;
  }
  .contact .form {
    width: 100%;
  }
  .contact .form input {
    width: 80%;
    height: 10vh;
    margin-bottom: 3vh;
    font-size: 1.8em;
  }
  .contact .form textarea {
    width: 80%;
    height: 35vh;
    margin-bottom: 3vh;
    font-size: 1.5em;
  }
  .contact .form button {
    width: 60%;
  }
  .contacts {
    display: inline-block;
    width: 100%;
  }
  .contacts .socials img {
    height: 40px;
  }
  .contacts .socials p {
    font-size: 1.3em;
    line-height: 40px;
  }
}

@media (max-width: 424px) {
  .contact h1 {
    font-size: 2.4em;
  }
  .contact .form {
    width: 100%;
  }
  .contact .form input {
    width: 80%;
    height: 8vh;
    margin-bottom: 2vh;
    font-size: 1.2em;
  }
  .contact .form textarea {
    width: 80%;
    height: 30vh;
    margin-bottom: 2vh;
    font-size: 1em;
  }
  .contact .form button {
    width: 60%;
  }
  .contacts {
    display: inline-block;
    width: 100%;
  }
  .contacts .socials img {
    height: 30px;
  }
  .contacts .socials p {
    font-size: 0.58em;
    line-height: 30px;
  }
}

@media (max-width: 382px) {
  .contact h1 {
    font-size: 2em;
  }
  .contact .form {
    width: 100%;
  }
  .contact .form input {
    width: 100%;
    height: 8vh;
    margin-bottom: 2vh;
  }
  .contact .form textarea {
    width: 100%;
    height: 30vh;
    margin-bottom: 2vh;
  }
  .contact .form button {
    width: 60%;
  }
  .contacts {
    display: inline-block;
    width: 100%;
  }
  .contacts .socials img {
    height: 30px;
  }
  .contacts .socials p {
    font-size: 0.52em;
    line-height: 30px;
  }
}

@media (max-width: 340px) {
  .contact h1 {
    font-size: 1.2em;
  }
  .contact .form {
    width: 100%;
  }
  .contact .form input {
    width: 100%;
    height: 6vh;
    margin-bottom: 2vh;
  }
  .contact .form textarea {
    width: 100%;
    height: 27vh;
    margin-bottom: 2vh;
  }
  .contact .form button {
    font-size: 1.5em;
    width: 50%;
  }
  .contacts {
    display: inline-block;
    width: 100%;
  }
  .contacts .socials img {
    height: 25px;
  }
  .contacts .socials p {
    font-size: 0.4em;
    line-height: 25px;
  }
}

footer {
  height: 5vh;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 5vh;
}

@media (max-width: 1280px) {
  footer {
    font-size: 1.5em;
  }
}

@media (max-width: 1025px) {
  footer {
    height: 4vh;
    font-size: 1.2em;
    line-height: 4vh;
  }
}

@media (max-width: 800px) {
  footer {
    height: 3.5vh;
    font-size: 1em;
    line-height: 3.5vh;
  }
}

@media (max-width: 500px) {
  footer {
    height: 3vh;
    font-size: 0.8em;
    line-height: 3vh;
  }
}

@media (max-width: 400px) {
  footer {
    height: 3vh;
    font-size: 0.6em;
    line-height: 3vh;
  }
}
/*# sourceMappingURL=style.css.map */