.aboutme
    margin: 3vh auto 3vh
    padding: 50px
    text-transform: uppercase
    text-align: center
    height: 40vh
    h1
        font-size: 5em
    p
        font-size: 3.5em
        line-height: 50px