.aboutme
    margin: 4vh auto 7vh
    padding: 50px
    text-transform: uppercase
    text-align: center
    h1
        font-size: 6em
    p
        margin-top: 2.5vh
        font-size: 3em
        line-height: 55px