.aboutme
    margin: 4vh auto 7vh
    padding: 50px
    text-transform: uppercase
    text-align: center
    height: 40vh
    h1
        font-size: 5em
    p
        margin: 20px
        font-size: 3em
        line-height: 55px