.contact
    opacity: 0
    background-color: #eee
    margin: 4vh auto 0
    padding: 50px
    text-transform: uppercase
    text-align: center
    min-height: 10vh
    transition: .3s linear
    h1
        font-size: 5em        
    .form
        margin-top: 2vh
        width: 50%
        float: left
        input
            display: block
            padding: 1vh
            margin: 10px auto 3vh
            line-height: 35px
            height: 6vh
            font-size: 2em
            width: 80%
            margin-bottom: 1vh

        textarea
            display: block
            padding: 1vh
            margin: 0 auto 
            line-height: 35px
            height: 25vh
            font-size: 2.3em
            width: 80%
            margin-bottom: 1vh
            background-color: white
        button
            display: block
            margin: 0 auto
            background-color: red
            color: white
            padding: 10px
            font-size: 2em

            width: 50%
            margin-bottom: 1vh
            transition: .2s linear
            text-transform: uppercase
            &:hover
                color: white
                background-color: black
    &.active
        opacity: 1
.contacts
    width: 50%
    .socials
        margin: 10px 
        padding: 3vh
        img
            float: left
        p
            line-height: 72px
            padding-left: 5vh
            font-size: 1.8em
            float: left
    

@media (max-width: 1500px)
    .contact
        h1
            font-size: 4.5em
        .form
            input

            textarea
            button
                &:hover
               
.contacts
    .socials
        
        img
            height: 50px
        p  
            font-size: 1.1em
            line-height: 50px

@media (max-width: 1025px)
    .contact
    h1     
        font-size: 4em
    .form
        input
        width: 80%
               
.contacts
    .socials
        
        img
            height: 45px
        p  
            font-size: 0.9em
            line-height: 45px

@media (max-width: 813px)
    .contact
        opacity: 1
        h1      
            font-size: 3.5em
        .form
            width: 100%
            input
                width: 80%
                height: 10vh
                margin-bottom: 3vh
                font-size: 1.8em
            textarea
                width: 80%
                height: 35vh
                margin-bottom: 3vh
                font-size: 1.5em
            button
                width: 60%
               
    .contacts
        display: inline-block
        width: 100%
        .socials    
            img
                height: 40px
            p  
                font-size: 1.3em
                line-height: 40px

@media (max-width: 424px)
    .contact
        h1      
            font-size: 2.4em
        .form
            width: 100%
            input
                width: 80%
                height: 8vh
                margin-bottom: 2vh
                font-size: 1.2em
            textarea
                width: 80%
                height: 30vh
                margin-bottom: 2vh
                font-size: 1em
            button
                width: 60%
                
               
    .contacts
        display: inline-block
        width: 100%
        .socials    
            img
                height: 30px
            p  
                font-size: 0.58em
                line-height: 30px

@media (max-width: 382px)
    .contact
        h1      
            font-size: 2em
        .form
            width: 100%
            input
                width: 100%
                height: 8vh
                margin-bottom: 2vh
            textarea
                width: 100%
                height: 30vh
                margin-bottom: 2vh
            button
                width: 60%
                
               
    .contacts
        display: inline-block
        width: 100%
        .socials    
            img
                height: 30px
            p  
                font-size: 0.52em
                line-height: 30px

@media (max-width: 340px)
    .contact
        h1      
            font-size: 1.2em
        .form
            width: 100%
            input
                width: 100%
                height: 6vh
                margin-bottom: 2vh
            textarea
                width: 100%
                height: 27vh
                margin-bottom: 2vh
            button
                font-size: 1.5em
                width: 50%
                
               
    .contacts
        display: inline-block
        width: 100%
        .socials    
            img
                height: 25px
            p  
                font-size: 0.4em
                line-height: 25px
            