
nav
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 7vh
    &.active
        background-color: white
    ul
        list-style: none
        li
            float: right
            padding: 10px
            margin: 5px
            display: inline-block
            width: 15vw
            position: relative
            overflow: hidden
            &::after
                content: ""
                position: absolute
                bottom: 10%
                left: -100%
                width: 100%
                height: 2px
                background-color: red
                transition: 0.3s linear
            &:hover::after
                bottom: 10%
                left: 0
            a
                text-align: center
                display: block
                font-size: 2em
                text-transform: uppercase
                text-decoration: none
                color: black

.background
    width: 100vw
    height: 100vh
    background-color: #eee
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    position: relative
    h1
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        text-transform: uppercase
        font-size: 4em
    p
        position: absolute
        top: 58%
        left: 50%
        transform: translate(-50%,-50%)
        text-transform: uppercase
        font-size: 2.6em
