.portfolios
    margin: 4vh auto 4vh
    padding: 3vh 
    text-transform: uppercase
    text-align: center
    flex-wrap: wrap
    h1
        display: block
        font-size: 5em
        align-items: center
    #container
        display: flex
        justify-content: space-around
        .portfolio
            padding: 2vh 
            margin: 1vh
            flex-basis: 24%
            background-color: #eee
            img
                width: 100%
                background-color: white
                padding: 0
                
            .text
                a              
                    display: block
                    margin: 2vh 0
                    text-decoration: none
                    text-align: right
                    font-size: 2.4em
                    border-bottom: 3px solid red
                    color: black
                p
                    margin-top: 3vh
                    font-size: 1.5em
                    text-align: left
                    line-height: 50px
